<div class="container col-7 mt-3 mb-5 justify-content-center">
  <div class="signup__form row">
    <form
      action="/admin/addProduct"
      class="col"
      enctype="multipart/form-data"
      id="addProductForm"
      method="post"
      onsubmit=""
    >
      <div class="row">
        <div class="col">
          <p
            class="bg-gray-300 p-4 text-left font-weight-bold"
            style="font-size: 20px;"
          >Add New Product</p>
          <div class="px-3 px-4">
            <div class="row">
              
               {{#if productAddMsg.status}}
                <p class="text-success text-center"> {{productAddMsg.msg}}</p>
              {{else}}
                {{#if productAddMsg.imageErr}}
                  <p class="text-danger text-center"> {{productAddMsg.imageErr}}</p>
                {{else}}
                  <p class="text-danger text-center"> {{productAddMsg.msg}}</p>
                {{/if}}
              {{/if}}


              <div class="col">
                <div class="signup__input">
                  <p>Product Name: </p>
                  <input type="text" name="productName" />
                </div>
              </div>
              <div class="col">
                <div class="signup__input">
                  <p>Product Description: </p>
                  <textarea
                    name="productDescription"
                    id="productDescription"
                    cols="45"
                    rows="10"
                    style="resize: none; font-size: 13px;padding: 10px ; border-radius: 5px;"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="signup__input mt-4">
                  <p>Brand: </p>
                  <select
                    class="form-select"
                    style="border-radius: 30px;"
                    name="productBrand"
                    aria-label="Default select example"
                    id="productBrand"
                  >
                    <option selected disabled >Select</option>
                    {{#each allBrand}}
                      <option
                        value="{{this.brandName}}"
                      >{{this.brandName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="signup__input mt-4">
                  <p>Category: </p>
                  <select
                    class="form-select"
                    style="border-radius: 30px;"
                    name="productCategory"
                    aria-label="Default select example"
                    id="categoryChange"
                    onchange="catChange()"
                  >
                    <option selected disabled >Select</option>
                    {{#each allCategory}}
                      <option
                        value="{{this.category}}"
                      >{{this.category}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="signup__input mt-4">
                  <p>Subcategory: </p>
                  <select
                    class="form-select"
                    style="border-radius: 30px;"
                    name="productSubcategory"
                    id="subCategory"
                    aria-label="Default select example"
                  >
                    <option selected disabled>Select</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="signup__input mt-3">
                  <p>Landing Cost: </p>
                  <input type="number" name="landingCost" />
                </div>
              </div>
              <div class="col">
                <div class="signup__input mt-3">
                  <p>MRP: </p>
                  <input type="number" name="productPrice" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="signup__input">
                  <p>Colour: </p>
                  <input type="text" name="productColour" />
                </div>
              </div>
              <div class="col">
                <div class="signup__input">
                  <p>Quantity: </p>
                  <input type="number" name="productQuantity" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="signup__input">
                  <p>Product Image 1: </p>
                  <input
                    type="file"
                    name="product_Image_1"
                    accept="image/*"
                    id="proImgInput1"
                  />
                  <div class="image-preview" id="imagePreview1">
                    <img
                      src=""
                      alt="Image Preview"
                      class="image-preview-image1"
                    />
                    <span class="image-preview-text1">Image Preview</span>
                  </div>
                </div>

              </div>
              <div class="col">
                <div class="signup__input">
                  <p>Product Image 2: </p>
                  <input
                    type="file"
                    name="product_Image_2"
                    accept="image/*"
                    id="proImgInput2"
                  />
                  <div class="image-preview" id="imagePreview2">
                    <img
                      src=""
                      alt="Image Preview"
                      class="image-preview-image2"
                    />
                    <span class="image-preview-text2">Image Preview</span>
                  </div>
                </div>

              </div>
              <div class="col">
                <div class="signup__input">
                  <p>Product Image 3: </p>
                  <input
                    type="file"
                    name="product_Image_3"
                    accept="image/*"
                    id="proImgInput3"
                  />
                  <div class="image-preview" id="imagePreview3">
                    <img
                      src=""
                      alt="Image Preview"
                      class="image-preview-image3"
                    />
                    <span class="image-preview-text3">Image Preview</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="signup__input">
                  <p>Product Image 4: </p>
                  <input
                    type="file"
                    name="product_Image_4"
                    accept="image/*"
                    id="proImgInput4"
                  />
                  <div class="image-preview" id="imagePreview4">
                    <img
                      src=""
                      alt="Image Preview"
                      class="image-preview-image4"
                    />
                    <span class="image-preview-text4">Image Preview</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-center border-top my-5">
              <div class="signup__input">
                <p> </p>
                <button
                  class="btn btn-success px-4 py-2"
                  style="border-radius: 30px;"
                >
                  ADD PRODUCT
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<script type="text/javascript">
  function catChange(){
  var currCategory = document.getElementById('categoryChange').value
  console.log(currCategory)
  $.ajax({
    url: '/admin/find-subcategory?category='+currCategory,
    method: 'get',
    success: (response)=>{
      if(response){
        let arrayCounts = response.length
        let arrayValues = response
        var subOptions = "<option disabled selected>Select</option>"
        for(var i=0;i<arrayCounts;i++){
          subOptions += "<option value='"+arrayValues[i]+"'>"+arrayValues[i]+"</option>"
        }
        document.getElementById('subCategory').innerHTML = subOptions
      }
    }
  })
}
</script>

<script type="text/javascript">
  // Image Preview1 For Add product

  const proImgFile1 = document.getElementById('proImgInput1')
const previewContainer1 = document.getElementById('imagePreview1')
const previewImage1 = previewContainer1.querySelector('.image-preview-image1')
const previewDefaultText1 = previewContainer1.querySelector('.image-preview-text1')

proImgFile1.addEventListener('change',()=>{
  const file = proImgFile1.files[0]

  if(file){
    const reader = new FileReader()

    previewDefaultText1.style.display = 'none'
    previewImage1.style.display = 'block'
    
    reader.addEventListener('load', ()=>{
      previewImage1.setAttribute('src', reader.result)
    })
    
    
    reader.readAsDataURL(file)
  }
  else{
    previewDefaultText1.style.display = null
    previewImage1.style.display = null
    
    previewImage1.setAttribute('src','')
  }
})
  // Image Preview2 For Add product

  const proImgFile2 = document.getElementById('proImgInput2')
const previewContainer2 = document.getElementById('imagePreview2')
const previewImage2 = previewContainer2.querySelector('.image-preview-image2')
const previewDefaultText2 = previewContainer2.querySelector('.image-preview-text2')

proImgFile2.addEventListener('change',()=>{
  const file = proImgFile2.files[0]

  if(file){
    const reader = new FileReader()

    previewDefaultText2.style.display = 'none'
    previewImage2.style.display = 'block'
    
    reader.addEventListener('load', ()=>{
      previewImage2.setAttribute('src', reader.result)
    })
    
    
    reader.readAsDataURL(file)
  }
  else{
    previewDefaultText2.style.display = null
    previewImage2.style.display = null
    
    previewImage2.setAttribute('src','')
  }
})
  // Image Preview3 For Add product

  const proImgFile3 = document.getElementById('proImgInput3')
const previewContainer3 = document.getElementById('imagePreview3')
const previewImage3 = previewContainer3.querySelector('.image-preview-image3')
const previewDefaultText3 = previewContainer3.querySelector('.image-preview-text3')

proImgFile3.addEventListener('change',()=>{
  const file = proImgFile3.files[0]

  if(file){
    const reader = new FileReader()

    previewDefaultText3.style.display = 'none'
    previewImage3.style.display = 'block'
    
    reader.addEventListener('load', ()=>{
      previewImage3.setAttribute('src', reader.result)
    })
    
    
    reader.readAsDataURL(file)
  }
  else{
    previewDefaultText3.style.display = null
    previewImage3.style.display = null
    
    previewImage3.setAttribute('src','')
  }
})
  // Image Preview4 For Add product

  const proImgFile4 = document.getElementById('proImgInput4')
const previewContainer4 = document.getElementById('imagePreview4')
const previewImage4 = previewContainer4.querySelector('.image-preview-image4')
const previewDefaultText4 = previewContainer4.querySelector('.image-preview-text4')

proImgFile4.addEventListener('change',()=>{
  const file = proImgFile4.files[0]

  if(file){
    const reader = new FileReader()

    previewDefaultText4.style.display = 'none'
    previewImage4.style.display = 'block'
    
    reader.addEventListener('load', ()=>{
      previewImage4.setAttribute('src', reader.result)
    })
    
    
    reader.readAsDataURL(file)
  }
  else{
    previewDefaultText4.style.display = null
    previewImage4.style.display = null
    
    previewImage4.setAttribute('src','')
  }
})

</script>
