<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg mx-md-3" data-setbg="/images/banner-images/topBanner1.webp">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h5 class="text-light">{{banners.topHead1}}</h5>
              <h2 class="text-white">{{banners.topText1}}</h2>
              {{!-- <a href="/product-list" class="primary-btn">Shop now
                <span class="arrow_right"></span></a> --}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero__items set-bg" data-setbg="/images/banner-images/topBanner2.webp">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h4 class="text-secondary">{{banners.topHead2}}</h4>
              <h2 class="text-secondary"> {{banners.topText2}}</h2>
              {{!-- <a href="/product-list" class="primary-btn">Shop now
                <span class="arrow_right"></span></a> --}}

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__items set-bg" data-setbg="/images/banner-images/topBanner3.webp">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h4 class="text-black">{{banners.topHead3}}</h4>
              <h2 class="text-black"> {{banners.topText3}} </h2>
              {{!-- <a href="/product-list" class="primary-btn">Shop now
                <span class="arrow_right"></span></a> --}}

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img src="img/banner/banner-1.webp" height="350px" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Speaker Collections</h2>
            <a onclick="getSubProducts('Speaker')">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img src="img/banner/banner-2.webp" height="270px" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Digital Cameras</h2>
            <a onclick="getSubProducts('DSLR')">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img src="img/banner/banner-3.webp" height="270px" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Best Smart Bands</h2>
            <a onclick="getSubProducts('Smart Band')">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter="*">Best Sellers</li>
          {{!-- <li data-filter=".new-arrivals">New Arrivals</li>
          <li data-filter=".hot-sales">Hot Sales</li> --}}
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      {{#each allProducts}}
        <div
          class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
        >
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              style="cursor: pointer;"
              data-setbg="/images/product-images/{{this._id}}/{{this.productVariants.0.variantId}}_1.webp"
            >
              <ul class="product__hover">
                <li><a onclick="addToWishlist('{{this._id}}','{{../user._id}}')"><img src="img/icon/heart.png" alt="" />
                    <span>Wishlist</span></a></li>
                <li><a href="#"><img src="img/icon/compare.png" alt="" />
                    <span>Compare</span></a></li>
                <li><a onclick="productDetail('{{this._id}}')"><img src="/img/icon/search.png" alt="" />
                    <span>View</span></a></li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6 class="text-secondary mb-2">{{this.productBrand}}</h6>
              {{#if this.productVariants.0.offerPrice}}
                <a
                  onclick="addToCart('{{this._id}}','{{this.productVariants.0.offerPrice}}')"
                  class="add-cart text-danger"
                >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
              {{else}}
                <a
                  onclick="addToCart('{{this._id}}','{{this.productVariants.0.productPrice}}')"
                  class="add-cart text-danger"
                >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
              {{/if}}
              <h6>{{this.productName}}</h6>
              <h6 class="text-secondary mt-2">{{this.productSubcategory}}</h6>
              <div class="rating">
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star-o"></i>
              </div>
              {{#if this.productVariants.0.offerPrice}}
                <h5> ₹{{this.productVariants.0.offerPrice}}</h5>
                <span class="text-decoration-line-through text-muted fs-6"> ₹{{this.productVariants.0.productPrice}}</span>
              {{else}}
                <h5> ₹{{this.productVariants.0.productPrice}}</h5>
                {{!-- <span class="text-decoration-line-through"> ₹{{this.productVariants.0.productPrice}}</span> --}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="categories__text">
          <h2>Headphones
            <br />
            <span>Earphones</span>
            <br />
            TWS</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories__hot__deal">
          <img
            src="/images/banner-images/offerBanner.jpg"
            alt=""
          />
          <div class="hot__deal__sticker">
            <span>Sale Of</span>
            <h5>₹1500</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="categories__deal__countdown">
          <span>{{banners.offerHead}}</span>
          <h2>{{banners.offerText}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function productDetail(id){ 
    window.location = `/product-details?id=${id}`
    }
</script>