<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg mx-md-3" data-setbg="img/hero/hero-123.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>POWER THE WORLD SALE</h6>
              <h2 class="text-lig text-light">MI POWER BANK 10000mAh</h2>
              <a href="/product-list" class="primary-btn">Shop now
                <span class="arrow_right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h4 class="text-light">ROARING SOUND</h4>
              <h2> Beats Solo3 Wireless</h2>
              <a href="/product-list" class="primary-btn">Shop now
                <span class="arrow_right"></span></a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img src="img/banner/banner-1.jpg" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Speaker Collections 2021</h2>
            <a href="/product-list">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img src="img/banner/banner-2.jpg" height="300px" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Digital Cameras of 2021</h2>
            <a href="/product-list">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img src="img/banner/banner-3.jpg" height="300px" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Best Smart Bands of 2021</h2>
            <a href="/product-list">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter="*">Best Sellers</li>
          <li data-filter=".new-arrivals">New Arrivals</li>
          <li data-filter=".hot-sales">Hot Sales</li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      {{#each allProducts}}
        <div
          class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
        >
          <div class="product__item">
            <div
              onclick="productDetail('{{this._id}}')"
              class="product__item__pic set-bg"
              style="cursor: pointer;"
              data-setbg="/images/product-images/{{this._id}}/{{this.productVariants.0.variantId}}_1.jpg"
            >
              <span class="label">New</span>
              <ul class="product__hover">
                <li><a href="#"><img src="img/icon/heart.png" alt="" />
                    <span>Wishlist</span></a></li>
                <li><a href="#"><img src="img/icon/compare.png" alt="" />
                    <span>Compare</span></a></li>
                <li><a href="#"><img
                      src="img/icon/search.png"
                      alt=""
                    /></a></li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6 class="text-secondary mb-2">{{this.productBrand}}</h6>
              <a
                onclick="addToCart('{{this._id}}','{{this.productVariants.0.productPrice}}')"
                class="add-cart text-danger"
              >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
              <h6>{{this.productName}}</h6>
              <h6 class="text-secondary mt-2">{{this.productSubcategory}}</h6>
              <div class="rating">
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star"></i>
                <i class="fa text-warning fa-star-o"></i>
              </div>
              <h5> ₹{{this.productVariants.0.productPrice}}</h5>
              {{! <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div> }}
            </div>
          </div>
        </div>
      {{/each}}
      {{! <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="img/product/product-2.jpg"
          >
            <ul class="product__hover">
              <li><a href="#"><img src="img/icon/heart.png" alt="" /></a></li>
              <li><a href="#"><img src="img/icon/compare.png" alt="" />
                  <span>Compare</span></a></li>
              <li><a href="#"><img src="img/icon/search.png" alt="" /></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Piqué Biker Jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>₹67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div> }}

    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="categories__text">
          <h2>Headphones
            <br />
            <span>Earphones</span>
            <br />
            TWS</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories__hot__deal">
          <img
            src="/images/product-images/6198e7948af519eb8666afb0/6198e7948af519eb8666afaf_1.jpg"
            alt=""
          />
          <div class="hot__deal__sticker">
            <span>Sale Of</span>
            <h5>₹1500</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="categories__deal__countdown">
          <span>Deal Of The Week</span>
          <h2>Oneplus Bullet Wireless Z Bass Edition</h2>

          <a href="#" class="primary-btn">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<script>
  function productDetail(id){ window.location = `/product-details?id=${id}` }
</script>