<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <form action="#">
              <input type="text" placeholder="Search..." />
              <button type="submit"><span class="icon_search"></span></button>
            </form>
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a
                    data-toggle="collapse"
                    data-target="#collapseOne"
                  >Categories</a>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <li><a href="#">Headphones (142)</a></li>
                        <li><a href="#">Earphones (123)</a></li>
                        <li><a href="#">Speakers (20)</a></li>
                        <li><a href="#">Power Banks (20)</a></li>
                        <li><a href="#">Cameras (20)</a></li>
                        <li><a href="#">Smart Wearables (20)</a></li>
                        <li><a href="#"> (20)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                  >Branding</a>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__brand">
                      <ul>
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Mi</a></li>
                        <li><a href="#">Oneplus</a></li>
                        <li><a href="#">JBL</a></li>
                        <li><a href="#">boAt</a></li>
                        <li><a href="#">Beats</a></li>
                        <li><a href="#">Sony</a></li>
                        <li><a href="#">Canon</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Nikon</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <select>
                  <option value="">Low To High</option>
                  <option value="">High To Low</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{#each allProducts}}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item">
                <div
                  onclick="productDetail('{{this._id}}')"
                  class="product__item__pic set-bg"
                  style="cursor: pointer;"
                  data-setbg="/images/product-images/{{this._id}}/{{this.productVariants.0.variantId}}_1.jpg"
                >
                  <ul class="product__hover">
                    <li><a href="/wishlist"><img
                          src="img/icon/heart.png"
                          alt=""
                        /></a></li>
                    <li><a href="#"><img src="img/icon/compare.png" alt="" />
                        <span>Compare</span></a>
                    </li>
                  </ul>
                </div>
                <div class="product__item__text">
                  <h6 class="text-secondary mb-2">{{this.productBrand}}</h6>
                  {{#if this.productVariants.0.offerPrice}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.offerPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                  {{else}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.productPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                  {{/if}}
                   <h6>{{this.productName}}</h6>
              <h6 class="text-secondary mt-2">{{this.productSubcategory}}</h6>
                  <div class="rating">
                    <i class="fa text-warning fa-star"></i>
                    <i class="fa text-warning fa-star"></i>
                    <i class="fa text-warning fa-star"></i>
                    <i class="fa text-warning fa-star"></i>
                    <i class="fa text-warning fa-star-o"></i>
                  </div>
                  {{#if this.productVariants.0.offerPrice}}
                    <h5> ₹{{this.productVariants.0.offerPrice}}</h5>
                    <span class="text-decoration-line-through text-muted fs-6"> ₹{{this.productVariants.0.productPrice}}</span>
                {{else}}
                    <h5> ₹{{this.productVariants.0.productPrice}}</h5>
                    {{!-- <span class="text-decoration-line-through"> ₹{{this.productVariants.0.productPrice}}</span> --}}
                {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="product__pagination">
              <a class="active" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <span>...</span>
              <a href="#">21</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->

<script>
  function productDetail(id){ window.location = `/product-details?id=${id}` }
</script>