
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search mb-5">
            <form>
              <input type="text" placeholder="Search..." onkeyup="sendData(this)" />
              <section id="searchResult">
                
              </section>
            </form>
          </div>
          <div class="mt-5 shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a
                    data-toggle="collapse"
                    data-target="#collapseOne"
                  >Sub Categories</a>
                </div>
                <div
                  id="collapseOne"
                  class="collapse"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        {{#each allCategory}}
                        <li><a onclick="getSubProducts('{{this.subcategory}}')"> {{this.subcategory}} </a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                  >Branding</a>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__brand">
                      <ul>
                        {{#each allBrands}}
                          <li><a onclick="getBrandProducts('{{this.brandName}}')"> {{this.brandName}} </a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              {{!-- <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <select>
                  <option value="">Low To High</option>
                  <option value="">High To Low</option>
                </select>
              </div> --}}
            </div>
          </div>
        </div>
        {{#if subProducts}}
        <div class="row">
          {{#each subProducts}}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  style="cursor: pointer;"
                  data-setbg="http://3.145.64.18/images/product-images/{{this._id}}/{{this.productVariants.0.variantId}}_1.webp"
                >
                  <ul class="product__hover">
                    <li><a onclick="addToWishlist('{{this._id}}','{{../user._id}}')"><img
                          src="img/icon/heart.png"
                          alt=""
                        /></a></li>
                    {{!-- <li><a href="#"><img src="img/icon/compare.png" alt="" />
                        <span>Compare</span></a>
                    </li> --}}
                    <li><a onclick="productDetail('{{this._id}}')"><img src="/img/icon/search.png" alt="" />
                    <span>View</span></a></li>
                  </ul>
                </div>
                <div class="product__item__text">
                  <h6 class="text-secondary mb-2">{{this.productBrand}}</h6>
                  {{#if this.productVariants.0.offerPrice}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.offerPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                    <a
                      href="/buy-now?proId={{this._id}}"
                      class="add-cart text-danger float-end"
                    > Buy Now <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                  {{else}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.productPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                    <a
                      href="/buy-now?proId={{this._id}}"
                      class="add-cart text-danger float-end"
                    > Buy Now <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                  {{/if}}
                   <h6>{{this.productName}}</h6>
              <h6 class="text-secondary mt-2">{{this.productSubcategory}}</h6>
                  <div class="rating">
                  </div>
                  {{#if this.productVariants.0.offerPrice}}
                    <h5> ₹{{this.productVariants.0.offerPrice}}</h5>
                    <span class="text-decoration-line-through text-muted fs-6"> ₹{{this.productVariants.0.productPrice}}</span>
                {{else}}
                    <h5> ₹{{this.productVariants.0.productPrice}}</h5>
                    {{!-- <span class="text-decoration-line-through"> ₹{{this.productVariants.0.productPrice}}</span> --}}
                {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>

        {{else}}

        {{#if brandProducts}}
        <div class="row">
          {{#each brandProducts}}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  style="cursor: pointer;"
                  data-setbg="http://3.145.64.18/images/product-images/{{this._id}}/{{this.productVariants.0.variantId}}_1.webp"
                >
                  <ul class="product__hover">
                    <li><a onclick="addToWishlist('{{this._id}}','{{../user._id}}')"><img
                          src="img/icon/heart.png"
                          alt=""
                        /></a></li>
                    {{!-- <li><a href="#"><img src="img/icon/compare.png" alt="" />
                        <span>Compare</span></a>
                    </li> --}}
                    <li><a onclick="productDetail('{{this._id}}')"><img src="/img/icon/search.png" alt="" />
                    <span>View</span></a></li>
                  </ul>
                </div>
                <div class="product__item__text">
                  <h6 class="text-secondary mb-2">{{this.productBrand}}</h6>
                  {{#if this.productVariants.0.offerPrice}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.offerPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                    <a
                      href="/buy-now?proId={{this._id}}"
                      class="add-cart text-danger float-end"
                    > Buy Now <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                  {{else}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.productPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                    <a
                      href="/buy-now?proId={{this._id}}"
                      class="add-cart text-danger float-end"
                    > Buy Now <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                  {{/if}}
                   <h6>{{this.productName}}</h6>
              <h6 class="text-secondary mt-2">{{this.productSubcategory}}</h6>
                  <div class="rating">
                  </div>
                  {{#if this.productVariants.0.offerPrice}}
                    <h5> ₹{{this.productVariants.0.offerPrice}}</h5>
                    <span class="text-decoration-line-through text-muted fs-6"> ₹{{this.productVariants.0.productPrice}}</span>
                {{else}}
                    <h5> ₹{{this.productVariants.0.productPrice}}</h5>
                {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>

        {{else}}


        <div class="row">
          {{#each allProducts}}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  style="cursor: pointer;"
                  data-setbg="http://3.145.64.18/images/product-images/{{this._id}}/{{this.productVariants.0.variantId}}_1.webp"
                >
                  <ul class="product__hover">
                    <li><a onclick="addToWishlist('{{this._id}}','{{../user._id}}')"><img
                          src="img/icon/heart.png"
                          alt=""
                        /></a></li>
                    {{!-- <li><a href="#"><img src="img/icon/compare.png" alt="" />
                        <span>Compare</span></a>
                    </li> --}}
                    <li><a onclick="productDetail('{{this._id}}')"><img src="/img/icon/search.png" alt="" />
                    <span>View</span></a></li>
                  </ul>
                </div>
                <div class="product__item__text">
                  <h6 class="text-secondary mb-2">{{this.productBrand}}</h6>
                  {{#if this.productVariants.0.offerPrice}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.offerPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                    <a
                      href="/buy-now?proId={{this._id}}"
                      class="add-cart text-danger float-end"
                    > Buy Now <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                  {{else}}
                    <a
                      onclick="addToCart('{{this._id}}','{{this.productVariants.0.productPrice}}')"
                      class="add-cart text-danger"
                    >+ Add To Cart <i class="fas fa-cart-plus"></i></a>
                    <a
                      href="/buy-now?proId={{this._id}}"
                      class="add-cart text-danger float-end"
                    > Buy Now <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                  {{/if}}
                   <h6>{{this.productName}}</h6>
              <h6 class="text-secondary mt-2">{{this.productSubcategory}}</h6>
                  <div class="rating">
                  </div>
                  {{#if this.productVariants.0.offerPrice}}
                    <h5> ₹{{this.productVariants.0.offerPrice}}</h5>
                    <span class="text-decoration-line-through text-muted fs-6"> ₹{{this.productVariants.0.productPrice}}</span>
                  {{else}}
                    <h5> ₹{{this.productVariants.0.productPrice}}</h5>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  function productDetail(id){ 
    window.location = `/product-details?id=${id}` 
  }

  function getSubProducts(subName){
    $.ajax({
      url: '/getSubProducts',
      method: 'post',
      data: {subName},
      success:(status)=>{
        location.href = '/product-list'
      }
    })
  }

  function getBrandProducts(brand){
    $.ajax({
      url: `/getBrandProducts?brandName=${brand}`,
      method: 'get',
      success:(status)=>{
        location.href = '/product-list'
      }
    })
  }

  // SEARCH PRODUCT

    function sendData(e){
      const searchResult = document.getElementById('searchResult')
      let match = e.value.match(/^[a-zA-Z ]*/)
      let match2 = e.value.match(/\s*/)

      if(match2[0] === e.value){
        searchResult.innerHTML = ''
        return
      }
      if(match[0] === e.value){

        fetch('searchProduct',{
          method: "post",
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({payload: e.value})
        }).then(res => res.json()).then(data => {
          let payload = data.payload
          searchResult.innerHTML = ''
          if(payload.length < 1){
            searchResult.innerHTML = "<p>Sorry, Nothing Found</p>"
            return;
          }
          payload.forEach((item,index)=>{
            if(index > 0) searchResult.innerHTML += '<hr>'
            searchResult.innerHTML += `<a onclick="productDetail('${item._id}')"> <p> ${item.productName} </p> </a>`
          })
          return
        })
      }

      searchResult.innerHTML = ''

    }

</script>
